################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/zartis-logs-app/ZartisLogs/obj
/.vs
/zartis-logs-app/.vs/ZartisLogs
/zartis-logs-app/ZartisLogs/bin/Debug/net5.0-windows
